body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: left;
}

.main {
    text-align: center;
    margin: 20px;
}

#map {
    width: 100%;
    height: 400px; /* Specify a height for the map */
    border: 2px solid black; /* Optional: for visibility */
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    max-width: 600px;
    position: relative;
}

.hospital {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
}

.callBtn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.callBtn:hover {
    background-color: #0056b3;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.hidden {
    display: none;
}
